<div>
  <h1>style binding</h1>
  <p [style.color]="color">i'm about component !</p>
  <p [style.font-size.px]="10">hello my font size is 60px</p>
  <p [style.color]="flag ? 'green' : 'red'">Condition if</p>
  <h1>event binding</h1>
  <button (click)="show()">click me</button>
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>email</th>
        <th>age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="hide">
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{age}}</td>
      </tr>
      <tr>
        <td>reza</td>
        <td>reza.gmail.com</td>
        <td>22</td>
      </tr>
      <tr>
        <td>reza</td>
        <td>reza.gmail.com</td>
        <td>22</td>
      </tr>
    </tbody>
  </table>
</div>
